@charset "utf-8";
/* CSS Document */

body{
	background-image: url(images/casa_cerdito_perezoso_fondo.jpg);
	background-position: center, center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/*Houses*/

#casas{
	display: flex;
	justify-content:space-between;
	position: absolute;
	/*margin-top: 15em;*/
}
#casa-paja img{
	max-width: 40%;
  	height: auto;
  	opacity: 10%;
  	flex-grow: 1;
  	position:relative;
  	margin-left: 13em;
}
#casa-madera img{
	max-width: 40%;
  	height: auto;
  	opacity: 10%
  	flex-grow: 1;
  	position:relative;
  	margin-left: 12em;
  	margin-top: 1em;
}
#casa-ladrillo img{
	max-width: 55%;
  	height: auto;
  	opacity: 10%
  	flex-grow: 1;
  	position:relative;
  	margin-top: 3em;
}

/*Materials*/

#materiales{
	display: flex;
	justify-content:space-between;
	position: absolute;
	margin-top: 35em;
	margin-left: 12em;
}
#paja img{
	max-width: 50%;
  	height: auto;
  	flex-grow: 1;
  	position:relative;
  
}

#madera img{
	max-width: 50%;
  	height: auto;
  	flex-grow: 1;
  	position:relative;
}

#ladrillo img{
	max-width: 50%;
  	height: auto;
  	flex-grow: 1;
  	position:relative;

}




/*MEDIA querys */

/*480px*/
/*@media	(min-width:480px){
#casas{
	margin-top: 23em;
}
#casa-paja img{
  	margin-left: 8em;
}
/*Materials*/
/*#materiales{
	margin-top: 28em;
}
#materiales img{
	max-width: 60%;
}*/

/*748px*/
@media	(min-width:748px){
#casas{
	margin-top: 16em;
}
#casa-paja img{
  	margin-left: 13em;
}
/*Materials*/
#materiales{
	margin-top: 30em;
}
#materiales img{
	max-width: 60%;
}


/*1441px*/
@media	(min-width:1440px){

/*Materials*/
#materiales{
	margin-top: 35em;
}
#materiales img{
	max-width: 50%;
}

